.footer {
  width: 100%;
  background-color: white;
  color: #00a136;
  padding: 20px 0;
}

.footer-table {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  table-layout: fixed;
}

.footer-table td {
  text-align: center;
  padding: 10px;
}
